<div id="<%= dom_id citizen %>">
  <p>
    <strong>First name:</strong>
    <%= citizen.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= citizen.last_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= citizen.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= citizen.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= citizen.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= citizen.birthday %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= citizen.phone %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= citizen.photo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= citizen.status %>
  </p>

</div>
